*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
    font-family: "Inter", sans-serif;
}
.hero-section{
    background-image: url('../img/Banner-Image.png');
    background-repeat: no-repeat;
    width: 1040px;
    height: 510px;
    border-radius: 16px;
    margin: 50px 140px;
   
}
.title-head{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.title-heading{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}
.hero-content{
    padding: 200px 0px;
}
.offer-section{
    width: 550px;
    height: 550px;
    text-align: center;
    margin: 30px auto;
}
.offer-discount{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offer-text{
    margin-top: 48px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.offer-title{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offer-img{
    margin-top: 48px;
    
}
.offer-img img{
    width: 440px;
    height: auto;
}
.party-section{
    background-image: url('../img/Vectorrr.png'),url('../img/Group70.png');
    background-repeat: no-repeat;
    background-position: bottom right, right bottom;
    width: 1040px;
    height: 500px;
    border-radius: 16px;
    margin: 50px 140px;   
}
.party-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    width: 600px;
    padding: 80px 100px 20px;
}
.party-text{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0 100px 20px;
    width: 600px;
}
.party-btn{
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    background: none;
    color: #fff;
    border: none;
    margin-top:20px;
}
/* venue-section */

.venue-section{
    width: 1040px;
    height: 250px;
    border-radius: 16px;
    margin: 50px 140px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding-top: 50px;
    
}
.venue-text span{
    color: #F00;
    font-size: 16px;
    font-weight: 400;
}
.venue-btn{
    color: #fff;
    background-color: #F00;
    border: none;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    border-radius: 5px;
    margin: 30px;
}
/* comming soon */
.comming-section{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1040px;
    column-gap: 40px;
    padding-left: 140px;
    justify-content: center;
    align-items: center;

}
.comming-text{
    color: #F00;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.comming-heading{
    color: #070211;
    font-family: Merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    
}
.comming-middle img{
    width: 200px;
    height: 200px;
   padding: 10px;
    border: 10px solid red;
    border-radius: 120px;
}
.comming-right-title{
    color: #F00;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.comming-right-description ,.comming-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.commimg-right-img img{
    width:100px;
    height: 100px;
    margin-top: 20px;
}
/* holydays sale */
.holiday-sale-section{
    width: 1040px;
    height: 700px;
    margin: 50px 140px;
}
.holiday-text-heading{
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 20px 40px;   
}
.holiday-text-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    width: 800px;
    padding-left: 100px;
}
.holiday-img{
    background-image: url('../img/Group75.png'),url('../img//Rectangle2.png'),url('../img/Group44.png'),url('../img/Rectangle1.png');
    background-repeat: no-repeat;
    background-position: 0% 40%,bottom,70% 35%, 100% 25%;
    width: 1040px, 200px;
    height:500px;
}
.color-red{
    color: #F00;
}
.holiday-text{
  text-align: center;
}
/* portfolio section */
.portfolio-section-text-title{
    color: red;
}
.portfolio-section{
    width: 1040px;
    height: auto;
    padding-left: 140px;
}
.portfolio-section-text-heading{
    color: #070211;
    font-family: Merriweather;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.portfolio-section-text-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 600px;
    padding-bottom: 30px;
}

.portfolio-section-img{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
}
.portfolio-section-img img:hover{
   opacity: 0.3;
}
/* news letter section */
.newsletter-section{
    background: rgba(255, 0, 0, 0.05);
    width: 1040px;
    height: 500px;
    margin: 50px 140px;
    border-radius: 16px;
    
}
.newsletter-section-img{
    width:150px;
    height:150px;
    padding: 50px 420px;
}
.newsletter-section-heading{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.newsletter-section-description p{
    text-align: center;
    padding: 20px 220px;
}
.newsletter-section-button{
    display: flex;
   padding: 20px 300px;
}
#input-fileld{
    height: 40px;
    width: 250px;
    border-radius: 40px 0 0 40px;
    padding-left: 20px;
    border: none;
}
.btn-subscribe{
    width: 125px;
    color: #fff;
    background-color: red;
    border-radius: 0 40px 40px 0;
    border: none;
}
/* footer section start here */
.footer-content{
    width: auto;
    height: 450px;
    background-color: #070211;
}
.footer-top-content{
    display: flex;
    padding: 100px 100px 10px;
    justify-content: space-between;
} 
.footer-top-left-text, .footer-top-right-text{
    width: 25%;
}

.footer-top-right-text-top, .footer-top-right-text-bottom{
    display: flex;
}
.text-white{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer-bottom-content{
    display: flex;
    justify-content:space-between;
    padding: 30px 100px;    
}
.footer-middle-content{
   padding: 30px 100px;
   
}
.icon{
    border-top: 1px solid #ffffff26;
   border-bottom: 1px solid #ffffff26;
}
.icon a{
    text-decoration: none;
}
.icon img{
    width: 48px;
    height: 48px;
    margin: 10px;
}
.icon-img{
    padding: 20px 400px;
}
.footer-bottom-right-content>button{
    background-color: #070211;
    border: none;
}
